<template name="instanceform">

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
               <h3 class='font-size-h3'>{{instance.name}}</h3>
            </div>
        </div>
    </nav>
    <div class="container">
        {{#autoForm id='instanceform' schema=fields type="method" meteormethod="demoSubmission"}}
            <div class="row">
                {{#each steedos_form.fields}}
                    {{#if equals this.type 'table'}}
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">{{this.code}}</div>
                            <!-- <div class="panel-body"> -->
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                        {{#each this.fields}}
                                            <td><label class="control-label">{{this.code}}</label></td>
                                        {{/each}}
                                            <td style="width: 70px">
                                            
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr>
                                            {{#each this.sFields}}
                                            <td>
                                                {{> afFormGroup name=this.code}}
                                            </td>
                                            {{/each}}
                                            <td style="width: 70px">
                                                <button type="button" class="btn btn-primary">增加</button>
                                            <button type="button" class="btn btn-success">修改</button>
                                            </td>
                                        </tr> -->

                                        {{#each subformValue this.code}}
                                        <tr>
                                            {{#each this}}
                                                <td>{{this}}</td>
                                            {{/each}}
                                            <td style="width: 70px">
                                                <button type="button" class="btn btn-danger">删除</button>
                                            </td>
                                        </tr>
                                        {{/each}}
                                        
                                    </tbody>
                                </table> 
                            <!-- </div> -->
                            </div>
                        </div>
                    {{else}}
                        <div class="col-md-6">
                        {{> afFormGroup name=this.code}}
                        </div>
                    {{/if}}
                    
                {{/each}}
            </div>

        {{/autoForm}}
    </div>

</template>


