<template name="instance_attachments" >
    <div class="panel panel-default instance-attachments">
        <div class="panel-heading heading">附件</div>
        <table class='table table-condensed attachments'>
            <tbody>
                {{#each this}}
                <tr>
                    <td colspan='3'>
                        <a href="{{getAttachmentURL this}}" target="_blank">
                           <span style="font-size:13px">{{this.filename}}</span>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>