<template name="steedos_table">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            {{afFieldLabelText name=this.code}}
        </div>
        <table class="table table-bordered table-condensed" name="{{this.code}}table" data-validrows="{{initValidrows this.tableValues}}" data-rowobj = "{{initRowobj this.sfields}}" data-formid="{{this.formId}}" data-rowformula="{{initRowFormula this.sfields}}">
            <thead>
                <tr>
                    <td >序</td>
                {{#each this.sfields}}
                    
                    <td><label class="control-label">{{this.code}}</label></td>
                {{/each}}  
                <td style="width:70px;">
                    <span class="panel-controls">
                        <!-- Button trigger modal -->
                        <span class="glyphicon glyphicon-plus add-steedos-table-row" data-rowindex="-1" data-toggle="modal" data-title="新增" data-method="add"></span>
                    </span>
                </td>
                </tr>
            </thead>
            <tbody id='{{this.code}}tbody' data-formcode="{{this.code}}">
                {{#each this.tableValues}}
                <tr class="person-row" data-toggle="modal" name="{{@index}}row" >
                    <td >{{@index}}</td>
                    {{#each arrayify this}}
                        <td>{{value}}</td>
                    {{/each}}
                    <td>
                        <span class="panel-controls">
                            <span class="glyphicon glyphicon-remove remove-steedos-table-row" data-rowindex="{{@index}}"></span>
                            <span class="glyphicon glyphicon-pencil edit-steedos-table-row" data-rowindex="{{@index}}" data-title="修改" data-method="edit"></span>
                        </span>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{#if equals this.permission 'editable'}}

    <div class="modal fade" id="{{this.code}}modal" name="{{this.code}}.modal" data-rowindex="-1" data-formcode="{{this.code}}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="{{this.code}}-modal-header">编辑</h4>
              </div>
              <div class="modal-body">
                {{> afObjectField name=(append this.code '.$' )}}
              </div>
              <div class="modal-footer">
                
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                <button type="button" id="steedos-table-ok-button" class="btn btn-primary" data-dismiss="modal">好</button>
              </div>
            </div>
        </div>
    </div>

    <div style = 'display:none'>
        {{> afArrayField name=this.code}}
    </div>
    {{/if}}
</template>