<template name="steedos_table">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            {{afFieldLabelText name=this.code}}
        </div>
    <!-- <div class="panel-body"> -->
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <td >序</td>
                {{#each this.sfields}}
                    
                    <td><label class="control-label">{{this.code}}</label></td>
                {{/each}}  
                <td></td>
                </tr>
            </thead>
            <tbody id='{{this.code}}tbody' data-formcode="{{this.code}}">
                {{#each this.tableValues}}
                <tr class="person-row" data-toggle="modal" >
                    <td >{{@index}}</td>
                    {{#each arrayify this}}
                        <td>{{value}}</td>
                    {{/each}}
                    <td>
                        <span class="panel-controls">
                            <!-- Button trigger modal -->
                            <i class="write icon subform-row" data-rowindex="{{@index}}"></i>
                        </span>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table> 
    <!-- </div> -->
    </div>
    {{#if equals this.permission 'editable'}}

    <div class="{{this.code}} ui modal" name="{{this.code}}.modal" data-rowindex="2" data-formcode="{{this.code}}">
        <i class="close icon"></i>
        <div class='header'>
            编辑子表
        </div>
        <div class="content">
            <div class="description">
                {{> afObjectField name=(append this.code '.$' )}}
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button" >取消</div>
            <div class="ui positive right labeled icon button" >好</div>
        </div>
    </div>

    <div style = 'display:none'>
        {{> afArrayField name=this.code}}
    </div>
    <!-- Modal 
    <div class="modal fade" id="{{this.code}}modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">编辑子表</h4>
          </div>
          <div class="modal-body">
            {{> afArrayField name=this.code}}
          </div>
          <div class="modal-footer">
            <button type="button" id="au-sb-ok" class="btn btn-default" data-dismiss="modal">好</button>
            <button type="reset" class="btn btn-default">reset form</button>
          </div>
        </div>
      </div>
    </div>
    -->
    {{/if}}
</template>