<template name="nav">

        <div class="ui fixed inverted borderless menu" id="topbar">
          &nbsp;
          <div class="ui item">
            {{_ 'Steedos Cloud'}}
          </div>

          <div class="right small menu">
              
              <a class="ui {{#if user}} hidden{{/if}} horizontally fitted item" href="/sign-in">{{_ 'Log in'}}</a>
              <a class="ui {{#if user}} hidden{{/if}} horizontally fitted item" href="/sign-up">{{_ 'Sign up'}}</a>

              <div class="ui horizontally fitted dropdown item {{#unless user}} hidden{{/unless}}">
                <img class="ui avatar image" src="{{avatar}}"/>
                <span>{{displayName}}</span>
                <i class="dropdown icon"></i>
                <div class="ui menu">
                    <a class="item" href="/profile">{{_ 'My Account'}}</a>
                    <a class="item" href="/logout">{{_ 'Logout'}}</a>
                </div>
              </div>
              <a class="ui horizontally fitted item" href="https://www.steedos.com/us/help/" target="_blank"><i class="ui icon help"></i></a>
          </div>
        </div>

</template>
