<template name="sidebar">
	<!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <div class="sidebar" id="scrollspy">
<!--           <div class="user-panel">
            <div class="pull-left image">
              <img src="{{avatar}}" class="img-circle" style="min-height: 45px;">
            </div>
            <div class="pull-left info">
              <p>{{displayName}}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div> -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="nav sidebar-menu">
            <li class="header">APPS</li>
            <li><a href="/launchpad/">
                <i class="fa fa-dashboard"></i>
                <span>{{_ "Launchpad"}}</span>
                </a>
            </li>
            {{#each apps}}
            <li><a href="/apps/{{_id}}/">
            	<i class="fa fa-{{icon}}"></i>
                <span>{{name}}</span>
                {{#if badge}}
                    <small class="label pull-right bg-red">{{badge}}</small>
                {{/if}}
            	</a>
            </li>
            {{/each}}
            <li class="header">SETTINGS</li>
            <li>
                <a href="#"><i class="fa fa-dashboard"></i>
                <span>{{_ "Account"}}</span><i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/account/profile/">{{_ "Profile"}}</a></li>
                    <li><a href="/account/password/">{{_ "Change Password"}}</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-dashboard"></i>
                <span>{{_ "Space Admin"}}</span><i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/Organizations/">{{_ "Organizations"}}</a></li>
                    <li><a href="/admin/SpaceUsers/">{{_ "Space Users"}}</a></li>
                </ul>
            </li>
          </ul>
        </div>
        <!-- /.sidebar -->
    </aside>
</template>