<template name="sidebar">
	<!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <div class="sidebar" id="scrollspy">

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="nav sidebar-menu">
            <li><a href="/launchpad/">
                <i class="fa fa-dashboard"></i>{{_ "Launchpad"}}
                </a>
            </li>
            <li class="header">Starred</li>
            {{#each apps}}
            <li><a href="/apps/{{_id}}/">
            	<i class="fa fa-{{icon}}"></i>
                <span>{{name}}</span>
                {{#if badge}}
                    <small class="label pull-right bg-red">{{badge}}</small>
                {{/if}}
            	</a>
            </li>
            {{/each}}
          </ul>
        </div>
        <!-- /.sidebar -->
    </aside>
</template>