<template name="adminApps">
	<div class="ui container segment">
		<h1>{{_ "Apps"}}</h1>
		<button id="tableAdd">{{_ "Add"}}</button>
		<button id="tableEdit">{{_ "Edit"}}</button>
		<button id="tableDelete">{{_ "Delete"}}</button>
			{{> tabular table=TabularTables.Apps class="ui celled table table-striped table-bordered table-condensed"}}

	</div>
	<div class="ui small modal" id="appAdd">
  		<i class="close icon"></i>
		<div class="header">Add App</div>
		<div class="content">
			{{> quickForm collection="Apps" id="insertAppForm" type="insert"}}
		</div>
	</div>
</template>