<template name="adminApps">

  	<div class="ui centered relaxed stackable grid">
	    {{> adminMenu}}

		<div class="ui eleven wide column segment">
			<h1>{{_ "Apps"}}</h1>
			<button id="buttonAdd" class="ui button">{{_ "Add"}}</button>
			<button id="buttonEdit" class="ui button">{{_ "Edit"}}</button>
			<button id="buttonDelete" class="ui button">{{_ "Delete"}}</button>
				{{> tabular table=TabularTables.Apps class="ui celled table dataTable"}}

		</div>
		<div class="ui small modal" id="appFormPopup">
	  		<i class="close icon"></i>
			<div class="content">
				{{> quickForm collection="Apps" doc=selectedRow id="appForm" type=formType}}
			</div>
		</div>
	</div>
</template>