<template name="adminSpaces">

  	<div class="ui centered relaxed stackable grid">
	    {{> adminMenu}}

		<div class="ui eleven wide column segment">
			<h1>{{_ "Spaces"}}</h1>
			<button id="buttonAdd" class="ui button">{{_ "Add"}}</button>
			<button id="buttonEdit" class="ui button">{{_ "Edit"}}</button>
			<button id="buttonDelete" class="ui button">{{_ "Delete"}}</button>
				{{> tabular table=TabularTables.Spaces class="ui celled table dataTable"}}

		</div>
		<div class="ui small modal" id="spacesFormPopup">
	  		<i class="close icon"></i>
			<div class="content">
				{{> quickForm collection="Steedos.Spaces" fields="name,admins,balance" doc=selectedRow id="spacesForm" type=formType}}
			</div>
		</div>
	</div>
</template> 