<template name="adminSpaceUsers">

  	<div class="ui centered relaxed stackable grid">
	    {{> adminMenu}}

		<div class="ui eleven wide column segment">
			<h1>{{_ "space_users"}}</h1>
			<button id="buttonAdd" class="ui basic button">{{_ "Add"}}</button>
			<button id="buttonEdit" class="ui basic button">{{_ "Edit"}}</button>
			<button id="buttonDelete" class="ui basic button">{{_ "Delete"}}</button>
				{{> tabular table=TabularTables.SpaceUsers class="ui celled table dataTable"}}

		</div>
		<div class="ui small modal" id="spaceUsersFormPopup">
	  		<i class="close icon"></i>
			<div class="content">
				{{> quickForm collection="db.space_users" doc=selectedRow id="spaceUsersForm" type=formType}}
			</div>
		</div>
	</div>
</template>