<template name="adminUsers">

  	<div class="ui centered relaxed stackable grid">
	    {{> adminMenu}}

		<div class="ui eleven wide column segment">
			<h1>{{_ "Users"}}</h1>
			<button id="buttonAdd" class="ui button">{{_ "Add"}}</button>
			<button id="buttonEdit" class="ui button">{{_ "Edit"}}</button>
			<button id="buttonDelete" class="ui button">{{_ "Delete"}}</button>
				{{> tabular table=TabularTables.Users class="ui celled table dataTable"}}

		</div>
		<div class="ui small modal" id="dataFormPopup">
	  		<i class="close icon"></i>
			<div class="content">
				{{> quickForm collection="Steedos.Users" schema="Steedos.Users._schema" fields="name,username,email,company,mobile,locale,timezone"  doc=selectedRow id="dataForm" type=formType}}
			</div>
		</div>
	</div>
</template>