<template name="home">
  <style>
  .apps .column {
    text-align:center;
  }
  .apps .column a{
    color: white;
  }
  </style>

  <div style="height: 3em"></div>

  <div class="ui container">

    <div class="apps ui six column doubling center grid">
      <div class="column">
          <a href="https://www.steedos.com/applications/workflow/" target="_blank">
            <img class="ui centered image" src="/apps/workflow/AppIcon76x76.png"/>
            <span class="ui row">Workflow</span>
          </a>
      </div>
      <div class="column">
          <a href="https://chat.steedos.com" target="_blank">
            <img class="ui centered image" src="/apps/chat/AppIcon76x76.png"/>
            <span>Chat</span>
          </a>
      </div>
      <div class="column">
          <a href="https://drive.steedos.com/" target="_blank">
            <img class="ui centered image" src="/apps/drive/AppIcon76x76.png"/>
            <span>Drive</span>
          </a>
      </div>
      <div class="column">
          <a href="https://otask.steedos.com" target="_blank">
            <img class="ui centered image" src="/apps/otask/AppIcon76x76.png"/>
            <span>oTask</span>
          </a>
      </div>
      <div class="column">
          <a href="https://mail.steedos.com" target="_blank">
            <img class="ui centered image" src="/apps/mail/AppIcon76x76.png"/>
            <span>Email</span>
          </a>
      </div>
    </div>


  </div>
</template>
