<template name="launchpad">
  <style>
  .apps .column {
    text-align:center;
  }
  .apps .column a{
    color: white;
  }
  </style>

  <div style="height: 3em"></div>

  <div class="ui container">

    <div class="apps ui five column doubling center grid animated fadeIn zoomIn">

      {{#each userApps}}
      <div class="column">
          <a href="{{url}}" target="app-{{name}}">
            <img class="ui centered image" src="/apps/{{name}}/AppIcon76x76.png"/>
            <span class="ui row">{{_ description}}</span>
          </a>
      </div>
      {{/each}}
      
    </div>


  </div>
</template>
