<template name="masterLayout">
	{{#unless logged}}
    	{{> loginNav}}
		{{> status}}
		<div class="content-wrapper" style="min-height: {{minHeight}}">
        	{{> yield}}
        </div>
	{{else}}
    	<div class="wrapper">
	    	{{> dock}}

			{{> status}}
			<div class="content-wrapper" style="min-height: {{minHeight}}">
	        	{{> yield}}
	        </div>
    	</div>
	{{/unless}}
</template>

<template name="loginLayout">
  {{> yield region='nav'}}

  <div id="content">
    {{> yield}}
  </div>

  {{> yield region='footer'}}
</template>