<template name="profile">

  <div class="ui container segment">

    <div class="ui centered stackable grid">
      <div class="ui dividing header sixteen wide column">
        <h3>{{_ 'Profile Information'}}</h3>
      </div>

      <div class="ui form twelve wide column" id="form-signin">
      
        <div class="field">
          <label>{{_ 'Name'}}</label>
          <input type="text" name="name" id="name" value="{{user.name}}" >
        </div>

        <div class="required field">
          <label>{{_ 'Email'}}</label>
          <input type="email" name="email" id="email" value="{{user.email}}">
        </div>


      <!--   
        <div class="grouped fields">
          <label for="fruit">{{_ 'Gender'}}:</label>
          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="gender" value="male" data-toggle="radio" {{setChecked 'male' user.gender}}/>
              <label>{{_ 'Male'}}</label>
            </div>
            <div class="ui radio checkbox">
              <input type="radio" name="gender" value="female" data-toggle="radio" {{setChecked 'female' user.gender}}/>
              <label>{{_ 'Female'}}</label>
            </div>
          </div>
        </div>

        <div class="field">
          <label>{{_ 'Location'}}</label>
          <input type="text" name="location" id="location" value="{{user.location}}">
        </div>

        <div class="field">
          <label>{{_ 'Website'}}</label>
          <input type="text" name="website" id="website" value="{{user.website}}">
        </div>
         -->
        <div class="field">
          <label for="language">{{_ "Language"}}</label>
          <select id="language" class="ui fluid dropdown required">
            {{#each languages}}
            <option value="{{key}}" selected="{{userLanguage key}}" dir="auto">{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="field">
          <label>{{_ 'Timezone'}}</label>
          {{> timezonePicker class="ui fluid dropdown" selected=timezone}}
        </div>
        <div class="field">
          <label>{{_ 'Gravatar'}}</label>
          <img src="{{getGravatarURL user 100}}" width="100" height="100" class="profile"/>
        </div>

        <button class="ui primary button" id="saveProfile"  type="button"><i class="icon save"></i>{{_ 'Update Profile'}}</button>

      </div>


    <div class="ui dividing header sixteen wide column">
      <h3>{{_ 'Change Password'}}</h3>
    </div>


    <div class="ui form twelve wide column">

        <div class="required field">
          <input type="password" name="oldPassword" id="oldPassword" placeholder="{{_ 'Old Password'}}">
        </div>

        <div class="required field">
          <input type="password" name="password" id="password" placeholder="{{_ 'New Password'}}">
        </div>

        <div class="required field">
          <input type="password" name="confirmPassword" id="confirmPassword" placeholder="{{_ 'Confirm Password'}}">
        </div>

        <button class="ui primary button" id="changePassword" type="button"><i class="icon lock"></i>{{_ 'Change Password'}}</button>

    </div>

    <div class="ui dividing header sixteen wide column">
      <h3>{{_ 'Delete Account'}}</h3>
    </div>

    <form action="/account/delete" method="POST" class="ui form twelve wide column">
      <input type="hidden" name="_csrf" value="{{_csrf}}"/>
      <p>{{_ 'You can delete your account, but keep in mind this action is irreversible.'}}</p>

      <button class="ui red button" type="button"><i class="icon trash"></i>{{_ 'Delete my account'}}</button>

    </form>

    <div class="ui dividing header sixteen wide column">
      <h3>{{_ 'Linked Accounts'}}</h3>
    </div>

    <div class="ui vertical items twelve wide column">
      <div class="item">
        {{#if user.google}}
          <a href="/account/unlink/google" class="ui red large label">
            <i class="google plus icon"></i>{{_ 'Unlink your Google account'}}
          </a>
        {{else}}
          <a href="/auth/google" class="ui google plus large label">
            <i class="google plus icon"></i>{{_ 'Link your Google account'}}
          </a>
        {{/if}}
      </div>

      <div class="item">
        {{#if user.facebook}}
          <a href="/account/unlink/facebook" class="ui red large label">
            <i class="facebook icon"></i>{{_ 'Unlink your Facebook account'}}
          </a>
        {{else}}
          <a href="/auth/facebook" class="ui large label">
            <i class="facebook icon"></i>{{_ 'Link your Facebook account'}}
          </a>
        {{/if}}
      </div>

      <div class="item">
        {{#if user.twitter}}
          <a href="/account/unlink/twitter" class="ui red large label">
            <i class="twitter icon"></i>{{_ 'Unlink your Twitter account'}}
          </a>
        {{else}}
          <a href="/auth/twitter" class="ui large label">
            <i class="twitter icon"></i>{{_ 'Link your Twitter account'}}
          </a>
        {{/if}}
      </div>

      <div class="item">
        {{#if user.github}}
          <a href="/account/unlink/github" class="ui red large label">
            <i class="github icon"></i>{{_ 'Unlink your GitHub account'}}
          </a>
        {{else}}
          <a href="/auth/github" class="ui large label">
            <i class="github icon"></i>{{_ 'Link your GitHub account'}}
          </a>
        {{/if}}
      </div>

      <div class="item">
        {{#if user.linkedin}}
          <a href="/account/unlink/linkedin" class="ui red large label">
            <i class="linkedin icon"></i>{{_ 'Unlink your LinkedIn account'}}
          </a>
        {{else}}
          <a href="/auth/linkedin" class="ui large label">
            <i class="linkedin icon"></i>{{_ 'Link your LinkedIn account'}}
          </a>
        {{/if}}
      </div>

      <div class="item">
        {{#if user.instagram}}
          <a href="/account/unlink/instagram" class="ui red large label">
            <i class="instagram icon"></i>{{_ 'Unlink your Instagram account'}}
          </a>
        {{else}}
          <a href="/auth/instagram" class="ui large label">
            <i class="instagram icon"></i>{{_ 'Link your Instagram account'}}
          </a>
        {{/if}}
      </div>

    </div>

    </div>
  </div>

</template>
