<template name="loginNav">

        <div class="ui fixed inverted borderless menu" id="topbar">
          &nbsp;
          <a class="ui header item" href="/">
            {{_ 'Steedos Cloud'}}
          </a>

          <div class="right small menu">
              
              <a class="ui horizontally fitted item" href="/sign-in">{{_ 'Log in'}}</a>
              <a class="ui horizontally fitted item" href="/sign-up">{{_ 'Sign up'}}</a>
              <a class="ui horizontally fitted item" href="https://www.steedos.com/us/help/" target="_blank"><i class="icon large help circle" style="margin:0px"></i></a>
          </div>
        </div>

</template>
