<template name="password">


  <div class="ui centered relaxed stackable grid container">

      {{> accountMenu}}

      <div class="ui ten wide column segment">

        <div class="ui dividing header">
          <h2>{{_ 'Change Password'}}</h2>
        </div>

        <div class="ui form">

          <div class="required field">
            <input type="password" name="oldPassword" id="oldPassword" placeholder="{{_ 'Old Password'}}">
          </div>

          <div class="required field">
            <input type="password" name="password" id="password" placeholder="{{_ 'New Password'}}">
          </div>

          <div class="required field">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="{{_ 'Confirm Password'}}">
          </div>

          <button class="ui primary button" id="changePassword" type="button"><i class="icon lock"></i>{{_ 'Change Password'}}</button>

        </div>

      </div>



  </div>

</template>
