<template name="profile">

    <section class="content-header">
      <h1>
        {{_ "Account Settings"}}
        <small></small>
      </h1>

    </section> 

    <section class="content">


        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#profile" data-toggle="tab" aria-expanded="true">{{_ "Profile"}}</a></li>
              <li class=""><a href="#avatar" data-toggle="tab" aria-expanded="false">{{_ "Avatar"}}</a></li>
              <li class=""><a href="#password" data-toggle="tab" aria-expanded="false">{{_ "Password"}}</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="profile">

                {{> quickForm collection="db.users" doc=user id="updateProfile" schema=schema type="update" fields="steedos_id,name,username,locale,timezone,company,mobile,email_notification"}}

              </div>
              <div class="tab-pane" id="avatar">

                <h4>{{_ "Avatar"}}</h4>
                <div class="form-group">
                  <img src="{{getGravatarURL user 200}}" width="200" height="200" class="avatar-preview"/>
                  <div class="btn btn-primary btn-sm change-avatar">{{_ 'Change Avatar'}}
                    <input type="file" class="avatar-file" accept="image/*">
                  </div>
                </div>

              </div>
                
              <div class="tab-pane" id="password">

                <h4>{{_ "Change Password"}}</h4>
                
                <div class="form-group">
                  <label class="control-label">{{_ 'Old Password'}}</label>
                  <input type="text" name="oldPassword" required="" id="oldPassword" class="form-control">
                </div>
                <div class="form-group">
                  <label class="control-label">{{_ 'New Password'}}</label>
                  <input type="text" name="password" required="" id="password" class="form-control">
                </div>
                <div class="form-group">
                  <label class="control-label">{{_ 'Confirm Password'}}</label>
                  <input type="text" name="confirmPassword" required="" id="confirmPassword" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary btn-sm change-password">{{_ 'Change Password'}}</button>

              </div>
            </div>
          </div>


    </section>

</template>
