<template name="profile">

    <section class="content-header">
      <h1>
        {{_ "Profile"}}
        <small></small>
      </h1>
<!--       <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>{{_ "Home"}}</a></li>
        <li class="active">{{_ "Profile"}}</li>
      </ol> -->
    </section> 

    <section class="content">

      <div class="box box-default">
        <div class="box-body">
          {{> quickForm collection="db.users" doc=user id="updateProfile" schema=schema type="update" fields="name,email,username,locale,timezone"}}


          <hr/>
          <h4>{{_ "Change Password"}}</h4>
          
          <div class="form-group">
            <label class="control-label">{{_ 'Old Password'}}</label>
            <input type="text" name="oldPassword" required="" id="oldPassword" class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label">{{_ 'New Password'}}</label>
            <input type="text" name="password" required="" id="password" class="form-control">
          </div>
          <div class="form-group">
            <label class="control-label">{{_ 'Confirm Password'}}</label>
            <input type="text" name="confirmPassword" required="" id="confirmPassword" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-sm change-password">{{_ 'Change Password'}}</button>

        </div>
      </div>


    </section>

</template>
