<template name="profile">

    <section class="content-header">
      <h1>
        {{_ "Profile"}}
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>{{_ "Home"}}</a></li>
        <li class="active">{{_ "Profile"}}</li>
      </ol>
    </section> 

    <section class="content">

      <div class="row">

        <div class="col-lg-3 col-xs-12">
          
          <div class="field">
            <label>{{_ 'Full Name'}}</label>
            <input type="text" name="name" id="name" value="{{user.name}}" >
          </div>

          <div class="required field">
            <label>{{_ 'Email'}}</label>
            <input type="email" name="email" id="email" value="{{user.email}}">
          </div>

          <div class="field">
            <label>{{_ 'Company'}}</label>
            <input type="text" name="Company" id="company" value="{{user.company}}">
          </div>

          <div class="field">
            <label>{{_ 'Mobile'}}</label>
            <input type="text" name="mobile" id="mobile" value="{{user.mobile}}">
          </div>

          <div class="field">
            <label for="language">{{_ "Language"}}</label>
            <select id="language" class="ui fluid dropdown required">
              {{#each languages}}
              <option value="{{key}}" selected="{{userLanguage key}}" dir="auto">{{name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="field">
            <label>{{_ 'Timezone'}}</label>
            {{> timezonePicker class="ui fluid dropdown" selected=timezone}}
          </div>
          <div class="field">
            <label>{{_ 'Gravatar'}}</label>
            <img src="{{getGravatarURL user 100}}" width="100" height="100" class="profile"/>
          </div>

          <button class="ui primary button" id="saveProfile"  type="button"><i class="icon save"></i>{{_ 'Update Profile'}}</button>

        </div>

      </div>

    </section>

</template>
